<section class="chat-app">
  <div ng-include="'partials/navbar'" class="center"></div>
  <div class="main">
  <script>

$(document).ready(function() {
    $('select').material_select();
  });

</script>
  <!--  <md-button class="btn1" ng-click="acceptOffer();"> Accept </md-button>-->
    <div class="center"><img src="../../images/49ertutorlogo.jpg" height="150" width="200"> </div>
 <!--<select ng-model="myselect" ng-options="o for o in options"></select>-->

    

     <!-- <select ng-model="selectedItem">
        <option ng-repeat="item in items" value="{{item}}">{{item}}</option>
      </select>-->

    <ul>
    <li ng-repeat="x in names">{{x}}</li>
</ul>
 
    <div class="input-field col s12">
        <p>selected item is : {{selectedItem}}</p>
      <select ng-model="selectedItem">
         <option value="" disabled selected>Select UNCC colleges</option>
         <option value="business">  Belk College of Business</option>
          <option value="art"> College of Arts + Architecture</option>
          <option value="computer"> College of Computing and Informatics</option>
          <option value="education"> College of Education</option>
           <option value="health">College of Health and Human Services</option>
           <option value="liberal">College of Liberal Arts &amp; Sciences</option>
          <option value="engineering"> William States Lee College of Engineering</option>
      </select>
    </div>
    <!--    <label>UNCC colleges</label>-->
     












  </div> <!--End of main div   -->

</section>