<section class="chat-app">
  <div ng-include="'partials/navbar'" class="center"></div>
  <div class="main">
    <div class="chat">
    <!-- Figure out what to do next here -->
    <!-- test out menu or different angular material menu buttons-->
    <!--Add messages page-->
    <!--setup messages db-->
      <section auto-scroll="event:scroll">
     
  <md-subheader class="md-no-sticky">Q and A</md-subheader>
        
          <md-list-item  ng-repeat="message in getMessages()" ng-click="goToPerson(message.author.name , $event)" id="parent" class="md-avatar">
         <!--  <div class="date ">{{ message.date | date: 'h:mm' }} </div>-->
           <img  height="42" width="42"  class="author-profile child" ng-src="{{ message.author.profileImg }}"><div id="child">  &nbsp;{{ message.author.name }}:&nbsp; {{ message.body }}</div><md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
            
          </md-list-item>
         </section>
    

  
<!--
  <md-subheader class="md-no-sticky">Q and A</md-subheader>
  <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
    <p>{{ person.name }}</p>
   
    <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
  </md-list-item>
-->
   <div ng-if="status" id="status">
    <b layout="row" layout-align="center center" class="md-padding">
      {{status}}
    </b>
  </div>
      <footer>
        <form class="message-form" ng-submit="sendMessage()">
          <input class="new-message" placeholder="Type your message here..." ng-model="newMessage" ng-trim="false" autofocus>
        </form>
      </footer>
    </div>
    <aside>
      <ul>
        <li ng-repeat="visitor in getVisitors()">
          <img height="42" width="42" class="author-profile" ng-src="{{ visitor.profileImg }}">
          <div class="name" ng-class="{'me':currentUser.name == visitor.name}">{{ visitor.name }}</div>
        </li>
      </ul>
    </aside>
  </div>
  <div ng-include="'partials/dialog'" class="center"></div>
</section>

