<section class="chat-app">
  <div ng-include="'partials/navbar'" class="center"></div>
  <div class="main">
    <div class="chat">
     <div style="position: fixed; top: 0px; left: 0px; width: 300px; height: 300px;">
     <!-- design the divs for this page -->
     <!-- Add a menu and put profile image as icon 
https://getmdl.io/components/index.html#menus-section

       -->
     <!-- Add a default image to start with -->
<!-- https://images-na.ssl-images-amazon.com/images/M/MV5BMjE2MjI4NTQxN15BMl5BanBnXkFtZTgwMDMyMDg4NTE@._V1_UY317_CR18,0,214,317_AL_.jpg  -->
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE2MjI4NTQxN15BMl5BanBnXkFtZTgwMDMyMDg4NTE@._V1_UY317_CR18,0,214,317_AL_.jpg {{image}}">
</div>
      <footer>
        <form class="message-form" ng-submit="sendMessage()">
          <input class="new-message" placeholder="Type your message here..." ng-model="newMessage" ng-trim="false" autofocus>
        </form>
      </footer>
    </div>
    <aside>
      <ul>
        <li ng-repeat="visitor in getVisitors()">
         <!-- <img class="author-profile" ng-src="{{ visitor.profileImg }}">-->
          <div class="name" ng-class="{'me':currentUser.name == visitor.name}">{{ visitor.name }}</div>
        </li>
      </ul>
    </aside>
  </div>
</section>