<!-- Add a input entry for the choice of a tutor or student                                       -->
<section class="chat-app">
  <div ng-include="'partials/navbar'"></div>
  <div class="main">
    <div class="page-container">
      <div class="row">
        <div class="col-sm-12">
          <form class="form" name="form" ng-submit="register(form)" novalidate>
 <div class="row">
    <form >

        <div class="form-group input-field  s6" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                'has-error': form.name.$invalid && submitted }">
              <label>Name</label>

              <input type="text" name="name" class="  form-control" ng-model="user.name"
                     required
                     mongoose-error
                     autofocus/>
              <p class="help-block" ng-show="form.name.$error.required && submitted">
                A name is required
              </p>
              <p class="help-block" ng-show="form.name.$error.mongoose">
                {{ errors.name }}
              </p>
            </div>

            <div class="form-group input-field  s6 " ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
              <label>Email</label>

              <input type="email" name="email" class="input-field  s6 form-control" ng-model="user.email"
                     required
                     mongoose-error/>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="form.email.$error.required && submitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>

            <div class="form-group input-field  s6 " ng-class="{ 'has-success': form.password.$valid && submitted,
                                                'has-error': form.password.$invalid && submitted }">
              <label>Password</label>

              <input type="password" name="password" class="input-field  s6 form-control" ng-model="user.password"
                     ng-minlength="3"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>
              <div class="form-group input-field  s6 " ng-class="{ 'has-success': form.name.$valid && submitted,
                                                'has-error': form.name.$invalid && submitted }">
              <label>Profile image url</label>

              <input type="text" name="name" class="form-control" ng-model="user.profileImg"
                     required
                     mongoose-error
                     autofocus/>
              <p class="help-block" ng-show="form.name.$error.required && submitted">
                A profile image is required
              </p>
              <p class="help-block" ng-show="form.name.$error.mongoose">
                {{ errors.profileimage }}
              </p>
            </div>
       
           

             <div class="input-field  s6 form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                'has-error': form.name.$invalid && submitted }">
              <label>Major</label>

              <input type="text" name="name" class="form-control" ng-model="user.major"
                     required
                     mongoose-error
                     autofocus/>
              <p class="help-block" ng-show="form.name.$error.required && submitted">
              A major is required
              </p>
              <p class="help-block" ng-show="form.name.$error.mongoose">
                {{ errors.major }}
              </p>
            </div> 
           <div class="input-field  s6 form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                'has-error': form.name.$invalid && submitted }">
          <textarea id="textarea1" class="materialize-textarea" ng-model="user.biography"></textarea>
          <label for="textarea1">Biography</label>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
              A biography is required
              </p>
              <p class="help-block" ng-show="form.name.$error.mongoose">
                {{ errors.biography }}
              </p>
        </div>
           <input type="submit"  class="btn btn-lg btn-default"> 
          
      
          </form>
        </div>
      </div>
    </div>
  </div>
</section>